/*
----------------------------------------------
General CSS
----------------------------------------------
*/
$primary-color: #2c3e50;
$secondary-color: #ecf0f1;
$tertiary-color: #f39c12;
$copyright-color: #34495e; // Font Sizes
$roboto-thin: 100;
$roboto-light: 300;
$roboto-normal: 400;
$roboto-medium: 500;
$drop-shadow: 1px 1px 2px #333;

* {
    font-family: 'Roboto', sans-serif;
    font-weight: $roboto-thin;
}
/*header of all the sections*/
.section-header {
    h1 {
        font-weight: $roboto-light;
        font-size: 40px;
        text-align: center;
        padding: 80px 0;
        margin: 0;
        color: $primary-color;
    }
}
/* 404 Error Page*/
.error-page {
    text-align: center;
    margin-top: 20vh;

    h1,
    h2,
    p {
        font-weight: $roboto-light;
        color: $primary-color;
    }

    h1 {
        font-size: 150px;
        padding-top: 80px;
        margin: 0;
    }

    h2 {
        font-size: 50px;
        margin-top: 0;
    }

    p {
        font-size: 20px;

        a {
            font-weight: $roboto-normal;
        }
    }
    @media(max-width: 400px) {
        h1 {
            font-size: 100px;
        }

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 15px;
        }
    }
}
/* Activated navbar collapse for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px;
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
        margin: 7.5px 50px 7.5px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }

    .collapsing {
        overflow: hidden!important;
    }
}
/*
----------------------------------------------
Home Page CSS
----------------------------------------------
*/
/* Header CSS */
#page-header {
    min-height: 100vh;
    background-image: url("../images/hero-img-primary.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.secondary {
        background-image: url("../images/hero-img-secondary.png");
        width: 100%;
        min-height: inherit;

        #header-text {
            h1 {
                font-weight: $roboto-normal;
                font-size: 48px;
                text-shadow: $drop-shadow;
                padding-bottom: 30px;
            }
        }
    }
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-logo {
    margin: 20px 0;
    max-height: 50px;
}

#paella-navbar {
    margin-top: 28px;
    font-size: 16px;

    li {
        a {
            font-weight: $roboto-medium;
            margin: auto 10px;
            color: white;
            border-radius: 15px;
            padding: 7px 15px;
        }

        a.active:hover,
        a:hover {
            background-color: $tertiary-color;
        }

        a.active {
            background-color: $primary-color;
        }
    }
}

#header-text {
    padding-top: 240px;
    padding-bottom: 119px;
    text-align: center;
    color: white;

    h1 {
        font-weight: $roboto-normal;
        font-size: 73px;
        text-shadow: $drop-shadow;
        margin-bottom: 30px;
    }

    h2 {
        font-weight: $roboto-thin;
        font-style: italic;
        font-size: 48px;
        text-shadow: $drop-shadow;
    }
}

#header-scroll {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35px;
        opacity: 0.85;
    }
}
/* Header Media Queries */
@media (max-width: 991px) {
    #page-header {
        min-height: auto;
    }

    .navbar-center {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
        height: 100%;
    }

    .navbar-toggle {
        z-index: 100;
        float: left !important;
        margin: 12px 0 12px 15px;
    }

    .navbar-logo {
        margin: 5px auto;
    }

    #header-text {
        margin-top: 100px;
        margin-bottom: 0;
        padding: 0 5px 100px;

        h1 {
            font-size: 45px;
        }

        h2 {
            font-size: 30px;
        }
    }
}
@media (max-width: 375px) {
    #header-text {
        h1 {
            font-size: 35px;
        }

        h2 {
            font-size: 0;
        }
    }
}
/* Statistics CSS */
#stats-section {
    background-color: $secondary-color;
    //background-color: white;
    padding: 80px 0;

    h1 {
        font-size: 40px;
        padding-bottom: 80px;
        text-align: center;
    }
}
$test: 220px;

.stat-container {
    $animation-time: 2s;
    text-align: center;
    display: block;

    .circle-wrapper {
        width: $test;
        height: $test;
    }

    .circle {
        fill: none;
        stroke: #34495e;
        stroke-width: 10px;
        stroke-dasharray: 3000;
        stroke-dashoffset: 0;
    }

    .figure {
        position: absolute;
        width: $test * 0.60;
        height: $test * 0.60;
        margin-top: $test * 0.20;
        margin-left: 22%;
        text-align: center;
        vertical-align: middle;

        h3,
        p {
            font-weight: $roboto-normal;
            text-align: center;
        }

        h3 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
        }
    }
}
/* Statistics Media Queries */
@media (max-width: 1199px) {
    .stat-container {
        .figure {
            margin-left: 18%;
        }
    }
}
@media (max-width: 991px) {
    .stat-container {
        margin: 10px 0;

        .figure {
            margin-left: 28%;
        }
    }
}
@media (max-width: 767px) {
    .stat-container {
        .figure {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            height: $test * 0.60;

            h3,
            p {
                width: $test * 0.60;
                text-align: center;
                margin-left: calc(50% - #{$test} * 0.37);
            }
        }
    }
}
/*
----------------------------------------------
Services Page CSS (and service section for home page)
----------------------------------------------
*/
.index-services,
.services {
    .container {
        color: $primary-color;
        padding-bottom: 30px;
    }

    h2 {
        padding-bottom: 20px;
        font-size: 18px;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
        text-align: center;
    }
}

.services-icon {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.round-btn-format {
    text-align: center;
    padding-bottom: 80px;
    padding-top: 30px;

    .btn-primary {
        border-radius: 20px;
        background: $primary-color;
        color: white;
        font-size: 20px;
    }

    .btn-primary:hover {
        background: white;
        border-color: white;
        color: $primary-color;

        &.secondary {
            background-color: $tertiary-color;
            border-color: $tertiary-color;
            color: white;
        }
    }
}

.services {
    padding-bottom: 80px;

    .row-padding {
        padding-top: 80px;
    }
    @media(max-width: 991px) {
        .row-padding {
            padding-top: 20px;
        }

        .services-info {
            padding-bottom: 30px;
        }
    }
}
/*Services Section  CSS Finish*/
/*Testimonials Section  CSS*/
.testimonials {
    background-color: $secondary-color;

    h1 {
        padding: 80px 0;
        font-size: 40px;
        text-align: center;
        color: $primary-color;
    }
}

#testimonials-carousel {
    .carousel-inner {
        background-size: cover;
        min-height: 200px;
    }

    .Carousel-caption {
        text-align: center;
        color: $primary-color;

        p {
            font-weight: $roboto-light;
            font-size: 18px;
            font-style: italic;
        }
    }

    .main-text {
        position: absolute;
        top: 50px;
        width: 96.66666666666666%;
        color: $primary-color;
    }

    .carousel-indicators {
        li {
            border-color: $primary-color;

            &.active {
                background-color: $primary-color;
            }
        }
    }
}
@media screen and (max-width: 379px) {
    .carousel-text {
        p {
            display: none;
        }
    }
}
/*Testimonials Section  CSS Finish*/
/*Contact us Section  CSS Start*/
.contact-us {
    background-color: $tertiary-color;

    h3 {
        padding-top: 80px;
        text-align: center;
        font-size: 22px;
    }
}
/* Contact us Section  CSS Finish */
/*
----------------------------------------------
Footer Section  CSS
----------------------------------------------
*/
#footer {
    padding: 20px 0;
    background-color: $primary-color;
    color: white;
}

.footer-nav {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
        display: inline-block;
        font-size: 12px;
        padding-right: 14px;

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: white;
        }
    }
}

.footer-nav.smaller-text {
    li {
        a {
            font-size: 14px;
        }
    }
}

#facebook-icon,
#googleplus-icon,
#linkedin-icon,
#twitter-icon {
    margin: 0 27px;
    color: $primary-color;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;

    a {
        color: $primary-color;
        font: 14px;
    }
}

#linkedin-icon,
#twitter-icon {
    padding: 10px 12px;
}

#facebook-icon {
    padding: 10px 15px;
}
/*
----------------------------------------------
Copyright Section CSS
----------------------------------------------
*/
#copyright {
    background-color: $copyright-color;
    color: $secondary-color;
    padding-top: 10px;
    font-size: 10px;

    p {
        font-weight: $roboto-thin;
        text-align: center;
    }
}
/*
----------------------------------------------
Blog Page CSS
----------------------------------------------
*/
.blog-wrapper {
    .title {
        font-weight: $roboto-light;
        font-size: 40px;
        text-align: center;
        padding: 80px 0;
        margin: 0;
        color: $primary-color;
        @media(max-width: 543px) {
            font-size: 30px;
            padding-bottom: 40px;
        }
    }

    .info {
        padding: 30px 0;
        font-size: 16px;
        text-align: center;

        .date {
            margin-left: 20px;
        }

        .name {
            margin-right: 20px;
        }
    }

    .description {
        font-size: 16px;
        font-weight: $roboto-light;
        text-align: center;
    }

    .round-btn-format > a {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .line > hr {
        margin: 0 auto;
    }

    &.post {
        .description {
            margin-bottom: 80px;
            text-align: left;
            @media(max-width: 767px) {
                text-align: center;
            }
        }
    }

    .recent {
        text-align: center;
        margin-top: 0;
        margin-bottom: 64px;
        font-size: 30px;
    }
    // Recent blogs section css
    .side-post {
        .title {
            font-size: 25px;
            padding-top: 0;
            padding-bottom: 20px;
        }

        .description {
            font-size: 14px;
            font-weight: $roboto-light;
            margin-top: 20px;
            margin-bottom: 0;
            text-align: center;
        }

        .round-btn-format {
            margin: 30px auto;
            padding: 0;
        }

        .line > hr {
            border-top: 0.2px solid $primary-color;
            width: 100%;
            margin-bottom: 30px;
        }
    }
}
/*
----------------------------------------------
Project Page CSS
----------------------------------------------
*/
.project-wrapper {
    padding-bottom: 80px;

    .line {
        margin-top: 80px;
        margin-bottom: 0;

        hr {
            border-top: 0.2px solid $primary-color;
            opacity: 0.2;
            width: 60%;
        }
    }

    &:last-of-type {
        .line > hr {
            border: 0;
        }
        @media (max-width: 991px) {
            .line {
                margin: 0;
                padding: 0;

                hr {
                    margin: 0;
                }
            }
        }
    }
}

.project-info {
    h4,
    h5,
    p {
        padding-bottom: 15px;
        margin: 0;
    }

    h5 > span {
        font-weight: $roboto-medium;
    }

    h4 {
        font-weight: $roboto-medium;
        font-size: 18px;
        padding-bottom: 30px;
    }

    .icon {
        margin-right: 10px;
        color: $tertiary-color;
    }

    b {
        padding-left: 6px;
    }

    p {
        font-weight: $roboto-light;
        font-size: 13px;
        height: 75px;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .round-btn-format {
        padding-bottom: 0;
        padding-top: 0;
        text-align: left;

        .btn-primary {
            font-size: 14px;
        }
    }
    @media (max-width: 991px) {
        .round-btn-format,
        h4 {
            text-align: center;
        }

        p {
            margin-bottom: 20px;
            height: auto;
        }
    }
}
// Recent Projects Media Queries
@media (max-width: 991px) {
    .project-image {
        img {
            padding-bottom: 30px;
        }
    }
}

.other-projects {
    padding-bottom: 80px;
    background-color: $secondary-color;

    .section-header {
        h1 {
            font-size: 28px;
        }
    }

    .project {
        padding: 15px 0;

        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
// Other Projects Media Queries
@media (max-width: 767px) {
    .project {
        img {
            max-width: 200px;
        }
    }
}
/*
----------------------------------------------
About Us Page CSS
----------------------------------------------
*/
.about-us,
.our-mission {
    padding-bottom: 80px;

    p {
        text-align: center;
        font-weight: $roboto-light;
    }
}

.our-team {
    padding-bottom: 80px;
    background-color: $secondary-color;
}

.person {
    p {
        text-align: center;
        font-weight: $roboto-medium;
    }

    img {
        max-width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .person {
        img {
            max-width: 200px;
        }
    }
}
@media (max-width: 991px) {
    .person {
        padding-bottom: 30px;
    }
}
/* History Section */
$line-width: 1px;
$icon-top: 36px;

.history {
    padding-bottom: 80px;

    .section-header {
        h1 {
            padding-top: 0;
        }
    }
}

.timeline-icon {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -19px;
    margin-top: $icon-top;
    color: $tertiary-color;

    &:before {
        position: absolute;
        content: "";
        height: 1px;
        background-color: $primary-color;
        width: 30px;
        margin-top: $icon-top/2;
        margin-left: -35px;
    }
}

.timeline-content {
    border-right: $line-width solid $primary-color;
    display: inline-block;
    width: 50%;
    padding: 10px 60px 10px 0;
    // Timeline Box - holds the content
    div {
        text-align: center;
        color: $primary-color;

        p {
            font-weight: $roboto-light;
            font-style: italic;
            font-size: 13px;
        }
    }
}

.timeline-block:nth-of-type(even) {
    .timeline-content {
        margin-left: calc(50% - #{$line-width});
        border-left: $line-width solid $primary-color;
        border-right: 0;
        padding: 10px 0 10px 60px;
    }

    .timeline-icon {
        &:before {
            margin-left: 40px;
        }
    }
}
// History Section Media Queries
@media(max-width: 766px) {
    .timeline-icon {
        left: 18px;
        margin-left: 0;

        &:before {
            margin-left: 40px;
        }
    }
    // Make all timeline content appear right of the line
    .timeline-block:nth-of-type(even) > .timeline-content,
    .timeline-content {
        padding: 10px 20px 10px 60px;
        width: 100%;
        border-left: $line-width solid $primary-color;
        border-right: 0;
        margin-left: 21px;
    }
}
/*
----------------------------------------------
Contact Us Page CSS
----------------------------------------------
*/
.contact {
    padding-bottom: 80px;

    .section-header {
        h1 {
            font-weight: $roboto-normal;
            font-size: 20px;
        }
    }

    .form-group {
        margin-bottom: 30px;
    }

    .form-control {
        text-align: center;
        border: none;
        padding: 0 12px;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
        background-color: $secondary-color;
        font-weight: $roboto-light;
        font-size: 16px;
    }

    #form_result {
        text-align: center;

        p {
            margin: 0;
            font-size: 16px;
            font-weight: $roboto-light;
        }

        &.success {
            p {
                color: #27ae60;
            }
        }

        &.error {
            p {
                color: #c0392b;
            }
        }
    }

    #comment {
        max-width: 100%;
        padding-bottom: 80px;
    }

    .round-btn-format {
        padding-bottom: 0;

        .btn-primary {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .address,
    .address > address {
        font-weight: $roboto-thin;
        font-size: 20px;
        font-style: italic;
        color: $primary-color;

        a {
            text-decoration: none;
            color: $primary-color;
        }

        &.nojs {
            text-align: center;
        }
    }
}

#map {
    height: 400px;

    &.nojs {
        background-image: url("../images/map.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
/*
----------------------------------------------
Blog More Page CSS
----------------------------------------------
*/
.recent-blog {
    .main-blog-header {
        h1 {
            font-weight: $roboto-thin;
            font-size: 40px;
            text-align: center;
            color: $primary-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-top: 80px;
        }

        h2 {
            padding-top: 70px;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            color: $primary-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 10px;
        }

        h3 {
            font-weight: $roboto-thin;
            font-size: 20px;
            text-align: center;
            color: $primary-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-top: 1px;
            padding-bottom: 10px;
        }
    }

    .img-format {
        padding-top: 80px;
        text-align: center;
    }

    .name-format {
        padding-top: 30px;
    }

    .blog-para {
        padding-top: 30px;
    }

    .line {
        hr {
            border-top: 0.2px thin $primary-color;
            width: 60%;
            padding: 10px;
        }
    }

    div.container {
        p {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .sub-blog {
        .img-format {
            padding-top: 10px;
            text-align: center;
        }

        .name-format {
            padding-top: 1px;
            text-align: center;
        }

        .blog-para {
            padding-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .line {
            hr {
                padding-top: 10px;
                border-top: 0.2px thin $primary-color;
                width: 60%;
            }
        }

        div.container {
            p {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .round-btn-format {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    @media (max-width: 991px) {
        .name-format {
            text-align: center;
        }
    }
}
/*
----------------------------------------------
Policies Pages CSS
----------------------------------------------
*/
.terms {
    li,
    p,
    table td {
        font-weight: 300;
    }

    ol > h2,
    table {
        margin-left: -40px;
    }

    table {
        td:first-of-type {
            min-width: 200px;
            @media(max-width: 767px) {
                min-width: auto;
            }
        }
    }
}
