/*
----------------------------------------------
General CSS
----------------------------------------------
*/
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

/*header of all the sections*/
.section-header h1 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  padding: 80px 0;
  margin: 0;
  color: #2c3e50; }

/* 404 Error Page*/
.error-page {
  text-align: center;
  margin-top: 20vh; }
  .error-page h1,
  .error-page h2,
  .error-page p {
    font-weight: 300;
    color: #2c3e50; }
  .error-page h1 {
    font-size: 150px;
    padding-top: 80px;
    margin: 0; }
  .error-page h2 {
    font-size: 50px;
    margin-top: 0; }
  .error-page p {
    font-size: 20px; }
    .error-page p a {
      font-weight: 400; }
  @media (max-width: 400px) {
    .error-page h1 {
      font-size: 100px; }
    .error-page h2 {
      font-size: 40px; }
    .error-page p {
      font-size: 15px; } }

/* Activated navbar collapse for tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px; }

  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px; }

  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap; }

  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    /*margin: 7.5px -15px;*/
    margin: 7.5px 50px 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
/*
----------------------------------------------
Home Page CSS
----------------------------------------------
*/
/* Header CSS */
#page-header {
  min-height: 100vh;
  background-image: url("../images/hero-img-primary.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #page-header.secondary {
    background-image: url("../images/hero-img-secondary.png");
    width: 100%;
    min-height: inherit; }
    #page-header.secondary #header-text h1 {
      font-weight: 400;
      font-size: 48px;
      text-shadow: 1px 1px 2px #333;
      padding-bottom: 30px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.navbar-logo {
  margin: 20px 0;
  max-height: 50px; }

#paella-navbar {
  margin-top: 28px;
  font-size: 16px; }
  #paella-navbar li a {
    font-weight: 500;
    margin: auto 10px;
    color: white;
    border-radius: 15px;
    padding: 7px 15px; }
  #paella-navbar li a.active:hover,
  #paella-navbar li a:hover {
    background-color: #f39c12; }
  #paella-navbar li a.active {
    background-color: #2c3e50; }

#header-text {
  padding-top: 240px;
  padding-bottom: 119px;
  text-align: center;
  color: white; }
  #header-text h1 {
    font-weight: 400;
    font-size: 73px;
    text-shadow: 1px 1px 2px #333;
    margin-bottom: 30px; }
  #header-text h2 {
    font-weight: 100;
    font-style: italic;
    font-size: 48px;
    text-shadow: 1px 1px 2px #333; }

#header-scroll img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35px;
  opacity: 0.85; }

/* Header Media Queries */
@media (max-width: 991px) {
  #page-header {
    min-height: auto; }

  .navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height: 100%; }

  .navbar-toggle {
    z-index: 100;
    float: left !important;
    margin: 12px 0 12px 15px; }

  .navbar-logo {
    margin: 5px auto; }

  #header-text {
    margin-top: 100px;
    margin-bottom: 0;
    padding: 0 5px 100px; }
    #header-text h1 {
      font-size: 45px; }
    #header-text h2 {
      font-size: 30px; } }
@media (max-width: 375px) {
  #header-text h1 {
    font-size: 35px; }
  #header-text h2 {
    font-size: 0; } }
/* Statistics CSS */
#stats-section {
  background-color: #ecf0f1;
  padding: 80px 0; }
  #stats-section h1 {
    font-size: 40px;
    padding-bottom: 80px;
    text-align: center; }

.stat-container {
  text-align: center;
  display: block; }
  .stat-container .circle-wrapper {
    width: 220px;
    height: 220px; }
  .stat-container .circle {
    fill: none;
    stroke: #34495e;
    stroke-width: 10px;
    stroke-dasharray: 3000;
    stroke-dashoffset: 0; }
  .stat-container .figure {
    position: absolute;
    width: 132px;
    height: 132px;
    margin-top: 44px;
    margin-left: 22%;
    text-align: center;
    vertical-align: middle; }
    .stat-container .figure h3,
    .stat-container .figure p {
      font-weight: 400;
      text-align: center; }
    .stat-container .figure h3 {
      font-size: 30px; }
    .stat-container .figure p {
      font-size: 14px; }

/* Statistics Media Queries */
@media (max-width: 1199px) {
  .stat-container .figure {
    margin-left: 18%; } }
@media (max-width: 991px) {
  .stat-container {
    margin: 10px 0; }
    .stat-container .figure {
      margin-left: 28%; } }
@media (max-width: 767px) {
  .stat-container .figure {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 132px; }
    .stat-container .figure h3,
    .stat-container .figure p {
      width: 132px;
      text-align: center;
      margin-left: calc(50% - 220px * 0.37); } }
/*
----------------------------------------------
Services Page CSS (and service section for home page)
----------------------------------------------
*/
.index-services .container,
.services .container {
  color: #2c3e50;
  padding-bottom: 30px; }
.index-services h2,
.services h2 {
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center; }
.index-services p,
.services p {
  font-size: 18px;
  text-align: center;
  text-align: center; }

.services-icon {
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px; }

.round-btn-format {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 30px; }
  .round-btn-format .btn-primary {
    border-radius: 20px;
    background: #2c3e50;
    color: white;
    font-size: 20px; }
  .round-btn-format .btn-primary:hover {
    background: white;
    border-color: white;
    color: #2c3e50; }
    .round-btn-format .btn-primary:hover.secondary {
      background-color: #f39c12;
      border-color: #f39c12;
      color: white; }

.services {
  padding-bottom: 80px; }
  .services .row-padding {
    padding-top: 80px; }
  @media (max-width: 991px) {
    .services .row-padding {
      padding-top: 20px; }
    .services .services-info {
      padding-bottom: 30px; } }

/*Services Section  CSS Finish*/
/*Testimonials Section  CSS*/
.testimonials {
  background-color: #ecf0f1; }
  .testimonials h1 {
    padding: 80px 0;
    font-size: 40px;
    text-align: center;
    color: #2c3e50; }

#testimonials-carousel .carousel-inner {
  background-size: cover;
  min-height: 200px; }
#testimonials-carousel .Carousel-caption {
  text-align: center;
  color: #2c3e50; }
  #testimonials-carousel .Carousel-caption p {
    font-weight: 300;
    font-size: 18px;
    font-style: italic; }
#testimonials-carousel .main-text {
  position: absolute;
  top: 50px;
  width: 96.66666666666666%;
  color: #2c3e50; }
#testimonials-carousel .carousel-indicators li {
  border-color: #2c3e50; }
  #testimonials-carousel .carousel-indicators li.active {
    background-color: #2c3e50; }

@media screen and (max-width: 379px) {
  .carousel-text p {
    display: none; } }
/*Testimonials Section  CSS Finish*/
/*Contact us Section  CSS Start*/
.contact-us {
  background-color: #f39c12; }
  .contact-us h3 {
    padding-top: 80px;
    text-align: center;
    font-size: 22px; }

/* Contact us Section  CSS Finish */
/*
----------------------------------------------
Footer Section  CSS
----------------------------------------------
*/
#footer {
  padding: 20px 0;
  background-color: #2c3e50;
  color: white; }

.footer-nav {
  list-style: none;
  padding: 0;
  text-align: center; }
  .footer-nav li {
    display: inline-block;
    font-size: 12px;
    padding-right: 14px; }
    .footer-nav li a {
      color: white;
      text-decoration: none; }
    .footer-nav li a:hover {
      color: white; }

.footer-nav.smaller-text li a {
  font-size: 14px; }

#facebook-icon,
#googleplus-icon,
#linkedin-icon,
#twitter-icon {
  margin: 0 27px;
  color: #2c3e50;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%; }
  #facebook-icon a,
  #googleplus-icon a,
  #linkedin-icon a,
  #twitter-icon a {
    color: #2c3e50;
    font: 14px; }

#linkedin-icon,
#twitter-icon {
  padding: 10px 12px; }

#facebook-icon {
  padding: 10px 15px; }

/*
----------------------------------------------
Copyright Section CSS
----------------------------------------------
*/
#copyright {
  background-color: #34495e;
  color: #ecf0f1;
  padding-top: 10px;
  font-size: 10px; }
  #copyright p {
    font-weight: 100;
    text-align: center; }

/*
----------------------------------------------
Blog Page CSS
----------------------------------------------
*/
.blog-wrapper .title {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  padding: 80px 0;
  margin: 0;
  color: #2c3e50; }
  @media (max-width: 543px) {
    .blog-wrapper .title {
      font-size: 30px;
      padding-bottom: 40px; } }
.blog-wrapper .info {
  padding: 30px 0;
  font-size: 16px;
  text-align: center; }
  .blog-wrapper .info .date {
    margin-left: 20px; }
  .blog-wrapper .info .name {
    margin-right: 20px; }
.blog-wrapper .description {
  font-size: 16px;
  font-weight: 300;
  text-align: center; }
.blog-wrapper .round-btn-format > a {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px; }
.blog-wrapper .line > hr {
  margin: 0 auto; }
.blog-wrapper.post .description {
  margin-bottom: 80px;
  text-align: left; }
  @media (max-width: 767px) {
    .blog-wrapper.post .description {
      text-align: center; } }
.blog-wrapper .recent {
  text-align: center;
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 30px; }
.blog-wrapper .side-post .title {
  font-size: 25px;
  padding-top: 0;
  padding-bottom: 20px; }
.blog-wrapper .side-post .description {
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center; }
.blog-wrapper .side-post .round-btn-format {
  margin: 30px auto;
  padding: 0; }
.blog-wrapper .side-post .line > hr {
  border-top: 0.2px solid #2c3e50;
  width: 100%;
  margin-bottom: 30px; }

/*
----------------------------------------------
Project Page CSS
----------------------------------------------
*/
.project-wrapper {
  padding-bottom: 80px; }
  .project-wrapper .line {
    margin-top: 80px;
    margin-bottom: 0; }
    .project-wrapper .line hr {
      border-top: 0.2px solid #2c3e50;
      opacity: 0.2;
      width: 60%; }
  .project-wrapper:last-of-type .line > hr {
    border: 0; }
  @media (max-width: 991px) {
    .project-wrapper:last-of-type .line {
      margin: 0;
      padding: 0; }
      .project-wrapper:last-of-type .line hr {
        margin: 0; } }

.project-info h4,
.project-info h5,
.project-info p {
  padding-bottom: 15px;
  margin: 0; }
.project-info h5 > span {
  font-weight: 500; }
.project-info h4 {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 30px; }
.project-info .icon {
  margin-right: 10px;
  color: #f39c12; }
.project-info b {
  padding-left: 6px; }
.project-info p {
  font-weight: 300;
  font-size: 13px;
  height: 75px;
  margin-bottom: 5px;
  overflow: hidden; }
.project-info .round-btn-format {
  padding-bottom: 0;
  padding-top: 0;
  text-align: left; }
  .project-info .round-btn-format .btn-primary {
    font-size: 14px; }
@media (max-width: 991px) {
  .project-info .round-btn-format,
  .project-info h4 {
    text-align: center; }
  .project-info p {
    margin-bottom: 20px;
    height: auto; } }

@media (max-width: 991px) {
  .project-image img {
    padding-bottom: 30px; } }
.other-projects {
  padding-bottom: 80px;
  background-color: #ecf0f1; }
  .other-projects .section-header h1 {
    font-size: 28px; }
  .other-projects .project {
    padding: 15px 0; }
    .other-projects .project img {
      margin-left: auto;
      margin-right: auto; }

@media (max-width: 767px) {
  .project img {
    max-width: 200px; } }
/*
----------------------------------------------
About Us Page CSS
----------------------------------------------
*/
.about-us,
.our-mission {
  padding-bottom: 80px; }
  .about-us p,
  .our-mission p {
    text-align: center;
    font-weight: 300; }

.our-team {
  padding-bottom: 80px;
  background-color: #ecf0f1; }

.person p {
  text-align: center;
  font-weight: 500; }
.person img {
  max-width: 90%;
  margin: 0 auto; }

@media (max-width: 767px) {
  .person img {
    max-width: 200px; } }
@media (max-width: 991px) {
  .person {
    padding-bottom: 30px; } }
/* History Section */
.history {
  padding-bottom: 80px; }
  .history .section-header h1 {
    padding-top: 0; }

.timeline-icon {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -19px;
  margin-top: 36px;
  color: #f39c12; }
  .timeline-icon:before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #2c3e50;
    width: 30px;
    margin-top: 18px;
    margin-left: -35px; }

.timeline-content {
  border-right: 1px solid #2c3e50;
  display: inline-block;
  width: 50%;
  padding: 10px 60px 10px 0; }
  .timeline-content div {
    text-align: center;
    color: #2c3e50; }
    .timeline-content div p {
      font-weight: 300;
      font-style: italic;
      font-size: 13px; }

.timeline-block:nth-of-type(even) .timeline-content {
  margin-left: calc(50% - 1px);
  border-left: 1px solid #2c3e50;
  border-right: 0;
  padding: 10px 0 10px 60px; }
.timeline-block:nth-of-type(even) .timeline-icon:before {
  margin-left: 40px; }

@media (max-width: 766px) {
  .timeline-icon {
    left: 18px;
    margin-left: 0; }
    .timeline-icon:before {
      margin-left: 40px; }

  .timeline-block:nth-of-type(even) > .timeline-content,
  .timeline-content {
    padding: 10px 20px 10px 60px;
    width: 100%;
    border-left: 1px solid #2c3e50;
    border-right: 0;
    margin-left: 21px; } }
/*
----------------------------------------------
Contact Us Page CSS
----------------------------------------------
*/
.contact {
  padding-bottom: 80px; }
  .contact .section-header h1 {
    font-weight: 400;
    font-size: 20px; }
  .contact .form-group {
    margin-bottom: 30px; }
  .contact .form-control {
    text-align: center;
    border: none;
    padding: 0 12px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    background-color: #ecf0f1;
    font-weight: 300;
    font-size: 16px; }
  .contact #form_result {
    text-align: center; }
    .contact #form_result p {
      margin: 0;
      font-size: 16px;
      font-weight: 300; }
    .contact #form_result.success p {
      color: #27ae60; }
    .contact #form_result.error p {
      color: #c0392b; }
  .contact #comment {
    max-width: 100%;
    padding-bottom: 80px; }
  .contact .round-btn-format {
    padding-bottom: 0; }
    .contact .round-btn-format .btn-primary {
      padding-left: 40px;
      padding-right: 40px; }
  .contact .address,
  .contact .address > address {
    font-weight: 100;
    font-size: 20px;
    font-style: italic;
    color: #2c3e50; }
    .contact .address a,
    .contact .address > address a {
      text-decoration: none;
      color: #2c3e50; }
    .contact .address.nojs,
    .contact .address > address.nojs {
      text-align: center; }

#map {
  height: 400px; }
  #map.nojs {
    background-image: url("../images/map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

/*
----------------------------------------------
Blog More Page CSS
----------------------------------------------
*/
.recent-blog .main-blog-header h1 {
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: #2c3e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 80px; }
.recent-blog .main-blog-header h2 {
  padding-top: 70px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #2c3e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px; }
.recent-blog .main-blog-header h3 {
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  color: #2c3e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
  padding-bottom: 10px; }
.recent-blog .img-format {
  padding-top: 80px;
  text-align: center; }
.recent-blog .name-format {
  padding-top: 30px; }
.recent-blog .blog-para {
  padding-top: 30px; }
.recent-blog .line hr {
  border-top: 0.2px thin #2c3e50;
  width: 60%;
  padding: 10px; }
.recent-blog div.container p {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
.recent-blog .sub-blog .img-format {
  padding-top: 10px;
  text-align: center; }
.recent-blog .sub-blog .name-format {
  padding-top: 1px;
  text-align: center; }
.recent-blog .sub-blog .blog-para {
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.recent-blog .sub-blog .line hr {
  padding-top: 10px;
  border-top: 0.2px thin #2c3e50;
  width: 60%; }
.recent-blog .sub-blog div.container p {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
.recent-blog .sub-blog .round-btn-format {
  padding-top: 10px;
  padding-bottom: 10px; }
@media (max-width: 991px) {
  .recent-blog .name-format {
    text-align: center; } }

/*
----------------------------------------------
Policies Pages CSS
----------------------------------------------
*/
.terms li,
.terms p,
.terms table td {
  font-weight: 300; }
.terms ol > h2,
.terms table {
  margin-left: -40px; }
.terms table td:first-of-type {
  min-width: 200px; }
  @media (max-width: 767px) {
    .terms table td:first-of-type {
      min-width: auto; } }

/*# sourceMappingURL=template.css.map */
